<div id="curriculo">
    <div class="container content-lg">
        <div class="row">
            <div class="col-sm-3 sm-margin-b-30">
                <div class="text-right sm-text-left">
                    <h2 class="margin-b-0">Currículo</h2>
                    <p>Quem sou eu?</p>
                </div>
            </div>
            <div class="col-sm-8 col-sm-offset-1">                

                <div class="margin-b-30">
                    <p>Apaixonado neurocirurgia, o Dr. João Carlos se tornou especialista no tratamento da dor e tem como principal objetivo ajudar as pessoas a viverem mais e melhor. 
                       Estudou cirurgia da coluna vertebral em Cleveland, nos Estados Unidos e é especialista em avaliação e tratamento interdisciplinar da dor pelo Hospital Internacional das Nações Unidas em Genebra, Suiça.</p>
                    
                    <div class="jumbotron jumbotron-fluid" style="background-color: #05588c; padding: 30px 30px 10px 30px">
                        <div class="container">       
                          <hr />                  
                          <p class="lead" style="color: white; text-align: justify;">"O melhor médico é aquele que recebe os que foram desenganados por todos os outros."</p>
                          <hr />   
                          <p style="color: white; text-align: right;">- Aristóteles</p>                          
                        </div>
                    </div>                    
                    
                    <p style="padding-top: 5px;">Com mais de 10 anos de experiência, o Dr. João Carlos vem dedicando o seu desenvolvimento profissional em prol de seus pacientes. João Carlos é experiente em diversas patologias das áreas de neurocirurgia, cirurgia da coluna vertebral e de nervos periféricos. Além disso, tem amplo conhecimento na condução e no tratamento de pacientes com dores crônicas. Seu foco está no cuidado integral do paciente, buscando sempre priorizar o uso de técnicas minimamente invasivas em suas cirurgias.</p>                    
                    
                </div>                                                                 
            </div>
        </div>        
    </div>
</div>