<div id="curriculo">
    <div class="container content-lg">
        <div class="row">
            <div class="col-sm-3 sm-margin-b-30">
                <div class="text-right sm-text-left">
                    <h2 class="margin-b-0">Currículo</h2>
                    <p>Quem sou eu?</p>
                </div>
            </div>
            <div class="col-sm-8 col-sm-offset-1">
                <div class="margin-b-30">
                    <p>Apaixonado neurocirurgia, o Dr. João Carlos se tornou especialista no tratamento da dor e tem como principal objetivo ajudar as pessoas a viverem mais e melhor. 
                       Estudou cirurgia da coluna vertebral em Cleveland, nos Estados Unidos e é especialista em avaliação e tratamento interdisciplinar da dor pelo Hospital Internacional das Nações Unidas em Genebra, Suiça.</p>
                    
                    <ul>
                        <li>Graduado em Medicina pela Universidade Internacional de Pernambuco;</li>
                        <li>Especialista em cirurgia da coluna vertebral pela Universidade de Cleveland nos Estados Unidos;</li>
                        <li>Residência em Cirurgia Geral pelo Hospital Geral de Santa Cruz do Capibaribe;</li>
                        <li>Residência médica em Cirurgia de Cabeça e Pescoço no Hospital São José de São Paulo;</li>
                        <li>Especialista em fellowship em Microcirurgia Reconstrutiva pelo Hospital São José de São Paulo;</li>
                        <li>Especialista em avaliação e tratamento interdisciplinar da dor pelo Hospital Internacional das Nações Unidas.</li>
                    </ul>
                    
                    <p style="padding-top: 5px;">Com mais de 10 anos de experiência, o Dr. João Carlos vem dedicando o seu desenvolvimento profissional em prol de seus pacientes. João Carlos é experiente em diversas patologias das áreas de neurocirurgia, cirurgia da coluna vertebral e de nervos periféricos. Além disso, tem amplo conhecimento na condução e no tratamento de pacientes com dores crônicas. Seu foco está no cuidado integral do paciente, buscando sempre priorizar o uso de técnicas minimamente invasivas em suas cirurgias.</p>                    
                </div>                   

                <div class="progress-box">
                    <h5>Total de Cirurgias Realizadas <span class="color-heading pull-right">250</span></h5>
                    <div class="progress">
                        <div class="progress-bar bg-color-base" role="progressbar" data-width="100"></div>
                    </div>
                </div>
                <div class="progress-box">
                    <h5>Total de Neurocirurgia  <span class="color-heading pull-right">100</span></h5>
                    <div class="progress">
                        <div class="progress-bar bg-color-base" role="progressbar" data-width="40"></div>
                    </div>
                </div>
                <div class="progress-box">
                    <h5>Total de Cirurgia da Coluna Vertebral <span class="color-heading pull-right">125</span></h5>
                    <div class="progress">
                        <div class="progress-bar bg-color-base" role="progressbar" data-width="50"></div>
                    </div>
                </div>
                <div class="progress-box">
                    <h5>Total de Cirurgia de Nervos Periféricos <span class="color-heading pull-right">25</span></h5>
                    <div class="progress">
                        <div class="progress-bar bg-color-base" role="progressbar" data-width="10"></div>
                    </div>
                </div>                
            </div>
        </div>        
    </div>
</div>