<div id="sintomas">
    <div class="bg-color-sky-light" data-auto-height="true">
        <div class="container content-lg">
            <div class="row">
                <div class="col-sm-3 sm-margin-b-30">
                    <div class="text-right sm-text-left">
                        <h2 class="margin-b-0">Sintomas</h2>
                        <p>Quando procurar um especialista?</p>
                    </div>
                </div>
                <div class="col-sm-8 col-sm-offset-1">
                    <div class="row row-space-2 margin-b-4">
                        <div class="col-md-4 md-margin-b-4">
                            <div class="service" data-height="height">
                                <div class="service-element">
                                    <i class="service-icon icon-user"></i>
                                </div>
                                <div class="service-info">
                                    <h3>Dor de Cabeça</h3>
                                    <p class="margin-b-5">A dor de cabeça crônica ou a chamada enxaqueca, principalmente se acompanhada de vômito, alterações na visão ou quando se agrava com exercícios físicos, deve ser avaliada por um especialista.</p>
                                </div>
                                <a href="#" class="content-wrapper-link"></a>    
                            </div>
                        </div>
                        <div class="col-md-4 md-margin-b-4">
                            <div class="service bg-color-base wow zoomIn" data-height="height" data-wow-duration=".3" data-wow-delay=".1s">
                                <div class="service-element">
                                    <i class="service-icon color-white icon-layers"></i>
                                </div>
                                <div class="service-info">
                                    <h3 class="color-white">Dor na Coluna</h3>
                                    <p class="color-white margin-b-5">Quando há indícios de compressão nervosa pode ser necessário procurar um neurologista ou neurocirurgião.</p>
                                </div>
                                <a href="#" class="content-wrapper-link"></a>    
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="service" data-height="height">
                                <div class="service-element">
                                    <i class="service-icon icon-energy"></i>
                                </div>
                                <div class="service-info">
                                    <h3>Fraqueza Muscular</h3>
                                    <p class="margin-b-5">Quando ocorre com frequência, vem acompanhada de dificuldade de respirar, falar mastigar ou engolir e a dor e os sintomas apresentam-se resistentes, pode ser necessário procurar um neurocirurgião.</p>
                                </div>
                                <a href="#" class="content-wrapper-link"></a>    
                            </div>
                        </div>
                    </div>

                    <div class="row row-space-2 margin-b-4">
                        <div class="col-md-4 md-margin-b-4">
                            <div class="service" data-height="height">
                                <div class="service-element">
                                    <i class="service-icon icon-settings"></i>
                                </div>
                                <div class="service-info">
                                    <h3>Tumor Cerebral</h3>
                                    <p class="margin-b-5">A maioria das incidências de câncer cerebral tem origem secundária, são metástases de outra parte do corpo. As causas do câncer são desconhecidas e a doença dificilmente apresenta sintomas.</p>
                                </div>
                                <a href="#" class="content-wrapper-link"></a>    
                            </div>
                        </div>
                        <div class="col-md-4 md-margin-b-4">
                            <div class="service bg-color-base wow zoomIn" data-height="height" data-wow-duration=".3" data-wow-delay=".1s">
                                <div class="service-element">
                                    <i class="service-icon color-white icon-target"></i>
                                </div>
                                <div class="service-info">
                                    <h3 class="color-white">Aneurisma Cerebral</h3>
                                    <p class="color-white margin-b-5">A escolha do método para o tratamento do aneurisma cerebral vai depender de diversos fatores como condições clínicas do paciente, idade e localização do aneurisma, além de seu tamanho.</p>
                                </div>
                                <a href="#" class="content-wrapper-link"></a>    
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="service" data-height="height">
                                <div class="service-element">
                                    <i class="service-icon icon-puzzle"></i>
                                </div>
                                <div class="service-info">
                                    <h3>Neurocirurgia Funcional</h3>
                                    <p class="margin-b-5">A neurocirurgia está direcionada ao tratamento de doenças relacionadas ao cérebro, abrangendo diagnósticos e cuidados dos pacientes com lesões ou doenças também da coluna, medula e nervos periféricos.</p>
                                </div>
                                <a href="#" class="content-wrapper-link"></a>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>