{% load i18n %}
<div id="contato">    
    <div class="bg-color-sky-light" data-auto-height="true">
        <div class="container content-lg">
            <div class="row">
                <div class="col-sm-2 sm-margin-b-30">
                    <div class="text-right sm-text-left">
                        <h2 class="margin-b-0">{% trans "contact" %}</h2>
                        <p>{% trans "talk_to_me" %}</p>
                    </div>
                </div>
                <div class="col-sm-9 col-sm-offset-1">
                    <div class="row">
                        <div class="col-md-3 col-xs-6 md-margin-b-30">
                            <h5>{% trans "brazil" %}</h5>
                            <a href="#">{% trans "recife" %}, {% trans "pernambuco" %}</a>
                        </div>
                        <div class="col-md-3 col-xs-6 md-margin-b-30">
                            <h5>{% trans "fone" %}</h5>
                            <a href="#">+55 (81) 91234-5678</a>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <h5>{% trans "email" %}</h5>
                            <a href="mailto:#">dr.joaocarlos@gmail.com</a>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <h5>{% trans "web" %}</h5>
                            <a href="#">drjoaocarlos.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>