<div id="curriculo">    
    <div class="container content-lg">
        <div class="row">
            <div class="col-sm-3 sm-margin-b-30">
                <div class="text-right sm-text-left">
                    <h2 class="margin-b-0">Currículo</h2>
                    <p>Formação e Especializações</p>
                </div>
            </div>
            <div class="col-sm-8 col-sm-offset-1">                                                                   
                <ul style="padding-left: 0px; padding-bottom: 30px; list-style-type:none;">
                    <li>- Graduado em Medicina pela Universidade Internacional de Pernambuco;</li>
                    <li>- Especialista em Tratamento Interdisciplinar da Dor pelo Hospital Internacional das Nações Unidas;</li>
                    <li>- Residência em Cirurgia da Coluna Vertebral pelo Cleveland Hospital nos Estados Unidos;</li>
                    <li>- Residência em Cirurgia de Cabeça e Pescoço pelo Hospital Pernambucano de Neurocirurgia;</li>
                    <li>- Membro efetivo da SBCCP.</li>                                                                                        
                </ul>                        
            </div>            
        </div>        
    </div>
</div>