{% load i18n %}
<div id="curriculo">   
    <div class="bg-color-sky-light" data-auto-height="true">
        <div class="container content-lg">
            <div class="row">
                <div class="col-sm-2 sm-margin-b-30">
                    <div class="text-right sm-text-left">
                        <h2 class="margin-b-0">{% trans "resume" %}</h2>
                        <p>{% trans "training_and_specializations" %}</p>
                    </div>
                </div>
                <div class="col-sm-9 col-sm-offset-1">                                                                   
                    <ul style="padding-left: 0px; padding-bottom: 30px; list-style-type:none;">
                        <li>- {% trans "graduated_in_medicine_from_the_international_university_of_pernambuco" %};</li>
                        <li>- {% trans "specialist_in_interdisciplinary_pain_management_at_the_united_nations_international_hospital" %};</li>
                        <li>- {% trans "residency_in_spine_surgery_at_cleveland_hospital_in_the_united_states" %};</li>
                        <li>- {% trans "residency_in_head_and_neck_surgery_at_hospital_pernambucano_of_neurosurgery" %};</li>
                        <li>- {% trans "effective_member_of_the_SBCCP" %}.</li>                                                                                        
                    </ul>                        
                </div>            
            </div>        
        </div>
    </div> 
</div>