{% load i18n %}
<div id="experiencia">    
    <div class="container content-lg">
        <div class="row">
            <div class="col-sm-2 sm-margin-b-30">
                <div class="text-right sm-text-left">
                    <h2 class="margin-b-0">{% trans "experience" %}</h2>
                    <p>{% trans "in_each_surgery," %}<br />{% trans "an_accomplishment" %}</p>
                </div>
            </div>
            <div class="col-sm-9 col-sm-offset-1">                                                                   
                <div class="progress-box">
                    <h5>{% trans "total_surgeries_performed" %} <span class="color-heading pull-right">250</span></h5>
                    <div class="progress">
                        <div class="progress-bar bg-color-base" role="progressbar" data-width="100"></div>
                    </div>
                </div>
                <div class="progress-box">
                    <h5>{% trans "neurosurgery" %}  <span class="color-heading pull-right">100</span></h5>
                    <div class="progress">
                        <div class="progress-bar bg-color-base" role="progressbar" data-width="40"></div>
                    </div>
                </div>
                <div class="progress-box">
                    <h5>{% trans "spine_surgery" %} <span class="color-heading pull-right">125</span></h5>
                    <div class="progress">
                        <div class="progress-bar bg-color-base" role="progressbar" data-width="50"></div>
                    </div>
                </div>
                <div class="progress-box">
                    <h5>{% trans "peripheral_nerve_surgery" %} <span class="color-heading pull-right">25</span></h5>
                    <div class="progress">
                        <div class="progress-bar bg-color-base" role="progressbar" data-width="10"></div>
                    </div>
                </div>                
            </div>            
        </div>        
    </div>
</div>