<div id="experiencia">
    <div class="bg-color-sky-light" data-auto-height="true">
        <div class="container content-lg">
            <div class="row">
                <div class="col-sm-3 sm-margin-b-30">
                    <div class="text-right sm-text-left">
                        <h2 class="margin-b-0">Experiência</h2>
                        <p>Em cada cirurgia, uma realização</p>
                    </div>
                </div>
                <div class="col-sm-8 col-sm-offset-1">                                                                   
                    <div class="progress-box">
                        <h5>Total de Cirurgias Realizadas <span class="color-heading pull-right">250</span></h5>
                        <div class="progress">
                            <div class="progress-bar bg-color-base" role="progressbar" data-width="100"></div>
                        </div>
                    </div>
                    <div class="progress-box">
                        <h5>Neurocirurgia  <span class="color-heading pull-right">100</span></h5>
                        <div class="progress">
                            <div class="progress-bar bg-color-base" role="progressbar" data-width="40"></div>
                        </div>
                    </div>
                    <div class="progress-box">
                        <h5>Cirurgia da Coluna Vertebral <span class="color-heading pull-right">125</span></h5>
                        <div class="progress">
                            <div class="progress-bar bg-color-base" role="progressbar" data-width="50"></div>
                        </div>
                    </div>
                    <div class="progress-box">
                        <h5>Cirurgia de Nervos Periféricos <span class="color-heading pull-right">25</span></h5>
                        <div class="progress">
                            <div class="progress-bar bg-color-base" role="progressbar" data-width="10"></div>
                        </div>
                    </div>                
                </div>            
            </div>        
        </div>
    </div>
</div>