{% load i18n %}
<div id="sintomas">
    <div class="bg-color-sky-light" data-auto-height="true">
        <div class="container content-lg">
            <div class="row">
                <div class="col-sm-2 sm-margin-b-30">
                    <div class="text-right sm-text-left">
                        <h2 class="margin-b-0">{% trans "symptoms" %}</h2>
                        <p>{% trans "when_to_look_for_an_expert?" %}</p>
                    </div>
                </div>
                <div class="col-sm-9 col-sm-offset-1">
                    <div class="row row-space-2 margin-b-4">
                        <div class="col-md-4 md-margin-b-4">
                            <div class="service" data-height="height">
                                <div class="service-element">
                                    <i class="service-icon icon-user"></i>
                                </div>
                                <div class="service-info">
                                    <h3>{% trans "headache" %}</h3>
                                    <p class="margin-b-5">{% trans "headache_description" %}</p>
                                </div>
                                <a href="#" class="content-wrapper-link"></a>    
                            </div>
                        </div>
                        <div class="col-md-4 md-margin-b-4">
                            <div class="service bg-color-base wow zoomIn" data-height="height" data-wow-duration=".3" data-wow-delay=".1s">
                                <div class="service-element">
                                    <i class="service-icon color-white icon-layers"></i>
                                </div>
                                <div class="service-info">
                                    <h3 class="color-white">{% trans "back_pain" %}</h3>
                                    <p class="color-white margin-b-5">{% trans "back_pain_description" %}</p>
                                </div>
                                <a href="#" class="content-wrapper-link"></a>    
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="service" data-height="height">
                                <div class="service-element">
                                    <i class="service-icon icon-energy"></i>
                                </div>
                                <div class="service-info">
                                    <h3>{% trans "muscle_weakness" %}</h3>
                                    <p class="margin-b-5">{% trans "muscle_weakness_description" %}</p>
                                </div>
                                <a href="#" class="content-wrapper-link"></a>    
                            </div>
                        </div>
                    </div>

                    <div class="row row-space-2 margin-b-4">
                        <div class="col-md-4 md-margin-b-4">
                            <div class="service" data-height="height">
                                <div class="service-element">
                                    <i class="service-icon icon-settings"></i>
                                </div>
                                <div class="service-info">
                                    <h3>{% trans "brain_tumour" %}</h3>
                                    <p class="margin-b-5">{% trans "brain_tumour_description" %}</p>
                                </div>
                                <a href="#" class="content-wrapper-link"></a>    
                            </div>
                        </div>
                        <div class="col-md-4 md-margin-b-4">
                            <div class="service bg-color-base wow zoomIn" data-height="height" data-wow-duration=".3" data-wow-delay=".1s">
                                <div class="service-element">
                                    <i class="service-icon color-white icon-target"></i>
                                </div>
                                <div class="service-info">
                                    <h3 class="color-white">{% trans "brain_aneurysm" %}</h3>
                                    <p class="color-white margin-b-5">{% trans "brain_aneurysm_description" %}</p>
                                </div>
                                <a href="#" class="content-wrapper-link"></a>    
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="service" data-height="height">
                                <div class="service-element">
                                    <i class="service-icon icon-puzzle"></i>
                                </div>
                                <div class="service-info">
                                    <h3>{% trans "functional_neurosurgery" %}</h3>
                                    <p class="margin-b-5">{% trans "functional_neurosurgery_description" %}</p>
                                </div>
                                <a href="#" class="content-wrapper-link"></a>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>